<!-- gerer-permissions.component.html -->

<div>
  <h2>Gérer les Permissions</h2>
  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <!-- Utilisez *ngFor pour afficher chaque utilisateur dans la liste -->
      <tr *ngFor="let utilisateur of listeUtilisateurs">
        <td>{{ utilisateur.nom }}</td>
        <td>{{ utilisateur.email }}</td>
        <td>{{ utilisateur.role }}</td>
        <td>
          <!-- Ajoutez des boutons pour les actions -->
          <button (click)="modifierRole(utilisateur)">Modifier Role</button>
          <button (click)="supprimerUtilisateur(utilisateur)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

