<!-- accueil.component.html -->
<!--
<div class="container">
  <h2>Bienvenue sur notre site de réservation d'hébergement</h2>
  <a routerLink="/inscription"><button>Inscription</button></a>
  <a routerLink="/connexion"><button>Connexion</button></a>
</div> -->

<!-- accueil.component.html -->

<app-header></app-header>

<div class="header">
  <h1>Notre Site de Réservation d'Hébergement</h1>
</div>

<div class="container">
  <h2>Bienvenue sur chez nous</h2>
  <p>Découvrez notre sélection d'hébergements.</p>

  <!-- <div class="navigation-buttons">
    <a routerLink="/inscription"><button class="button-inscription">Inscription</button></a>
    <a routerLink="/connexion"><button class="button-connexion">Connexion</button></a>
  </div> -->
</div>

<div class="footer">
  <p>&copy; 2024 Notresite.com. Tous droits réservés.</p>
</div>

<app-footer></app-footer>
